.btn {
    font-family: 'Tajawal', sans-serif;
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        position: relative;
        cursor: pointer;
    }



    &__lang {
        color: $color-black;
        border: 1px solid $color-primary;
        border-radius: .5rem;
        padding: 0.5rem 3rem 0.5rem 1rem;
        font-size: 1.3rem;
        font-weight: $bold-font-weight;
    }

    &__test {
        background-color: $color-primary;
        color: $color-white;
        padding: 3rem;
        border: 1px solid $color-primary;
        border-radius: .5rem;
        padding: 1rem;
        width: 100%;
        font-size: 2rem;
    }

    &__info {
        background-color: $color-primary;
        color: $color-white;
        padding: 3rem;
        border: 1px solid $color-primary;
        border-radius: .5rem;
        padding: 1rem;
        width: 23rem;
        font-size: 2rem;


    }
}

button{
    &:disabled {
        cursor: not-allowed;
        opacity: 0.65;

        &:hover {
            background-color: $color-secondary !important;
            color: $color-tertiary !important;
        }
    }
}