.lost {
    text-align: center;
    &-img{
        margin: 9rem 0;
    }
    &__img{
        @include responsive(tab-land) { // width < 1200?
            width: 50rem;
        }
    
    }
    &__title{
        // @include title;
        display: block;
        text-transform: uppercase;
        font-size: 8rem;
        font-weight: $bold-font-weight;
        color: $color-primary;

    }

}