.protection {
    text-align: center;

    &__title {
        @include title;
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5rem;
        width: 80%;
        margin: 5rem auto;
    }

    &__item {
        // &--1 {}

        // &--2 {}

        // &--3 {}

        // &--4 {}

        // &--5 {}

        // &--6 {}

        &-img {
            height: 12rem;
        }
    }

    &__name {
        font-size: 2.5rem;
        // font-weight: $medium-font-weight;
        color: $color-dark-grey;
    }

    .stay-home {
        &__img {
            height: 12rem;
            margin-bottom: 4rem;
        }

        &__desc {
            font-size: 2.5rem;
            color: $color-dark-grey;
        }
    }

}