//*********************************************************//

//Protection  Section

//*********************************************************//
.protection {
    text-align: center;

    &__title {
        @include title;
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        @include responsive(phone) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        grid-gap: 5rem;
        width: 80%;
        margin: 5rem auto;
    }

    &__item {
        // &--1 {}

        // &--2 {}

        // &--3 {}

        // &--4 {}

        // &--5 {}

        // &--6 {}

        &-img {
            height: 12rem;
        }
    }

    &__name {
        font-size: 2.5rem;
        // font-weight: $medium-font-weight;
        color: $color-dark-grey;
    }

    .stay-home {
        &__img {
            height: 12rem;
            margin-bottom: 4rem;
        }

        &__desc {
            font-size: 2.5rem;
            color: $color-dark-grey;
        }
    }

}

//*********************************************************//

//Information  Section

//*********************************************************//

.advInformation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    background-color: $color-tertiary;
    text-align: center;
    padding: 3.5rem 2rem;
    // position: relative;
    // z-index: -3;

    // &-text {}

    &__title {
        @include title;
        margin-bottom: 2rem;

    }

    &__desc {
        color: $color-primary-dark;
        font-size: $medium-font-size;
        font-weight: $bold-font-weight;

    }

    &-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        @include responsive(phone) {
            flex-direction: column;
            align-content: space-around;
        }
    }

}

//*********************************************************//

//information on virus transmission Section

//*********************************************************//

.transmet {
    padding: 2rem;
    text-align: center;

    &__title {
        @include title;
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 10rem;
    }

    &__item {
        &--1 {
            justify-self: end;
            margin-right: 4rem;
            @include responsive(tab-land) {
                justify-self: center;
                margin-right: 0rem;
            }
        }

        &--2 {
            justify-self: start;
            margin-left: 7rem;
            @include responsive(tab-land) {
                justify-self: center;
                margin-left: 0rem;
           
            }
        }

    }

    &__img {
        height: 12rem;
    }

    &__name {
        color: $color-primary-dark;
        font-size: $small-font-size;
        font-weight: $bold-font-weight;
        margin-top: 5rem;
    }

}