@mixin rotateme {
    animation-name: rotateme;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@mixin title {
    display: inline-block;
    font-size: 3.5rem;
    color: $color-primary;
    font-weight: $bold-font-weight;
}